body{
    color: #000000;
    background-color: #FFFFFF;
    max-width: 75%;
    margin: auto;
    padding:10px;
    font-family: Verdana, Tahoma, Geneva, Arial, Helvetica, sans-serif;
}
p {margin-top: 0.5em; margin-bottom: .2em; }

span.floating {
    float: right;
    display: block;
    background-color: #C0C0C0;
    font-size: smaller;
}

.margin {
    float:right;
    display: block;
    font-size: smaller;
    clear: right;
    padding: 4pt;
    font-style: italic;
    width: 15%;
    float:right;
    background-color: #F8F8FF;
    margin: 6pt;
}

span.floatingBottom {
    float: right;
    display: block;
    background-color: #C0C0C0;
    font-size: smaller;
}

#toc {
    top: 0px;
    left: 0px;
    height: 400px;
    overflow: scroll;
    position: fixed;
    background: #333;
    box-shadow: inset -5px 0 5px 0px #000;
    width: 150px;
    padding-top: 20px;
    color: #fff;
}

#toc ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#toc li {
    padding: 5px 10px;
}

#toc a {
    color: #fff;
    text-decoration: none;
    display: block;
}

#toc .toc-h2 {
    padding-left: 10px;
}

#toc .toc-h3 {
    padding-left: 20px;
}

#toc .toc-active {
    background: #336699;
    box-shadow: inset -5px 0px 10px -5px #000;
}


div.bottom{
    display:none;
}

span.end {
    font-size: smaller;
}

span.floating {
    float: right;
    display: block;
    background-color: #C0C0C0;
    font-size: smaller;
}
#footnotediv {
	background-color:white;
	padding:3px;
	padding-left:12px;
	padding-right:12px;
	border:1px solid #CDBBB5;
	box-shadow:#555 0 0 10px;
	-webkit-box-shadow:#555 0 0 10px;
	-moz-box-shadow:0 0 10px #555;
}