
    body{
   color: #000000;
   background-color: #FFFFFF;
   max-width: 95%;
   margin: auto;
   padding:10px;
   font-family: Verdana, Tahoma, Geneva, Arial, Helvetica, sans-serif;
}
    p {margin-top: 0.5em; margin-bottom: .2em; }
    
    span.floating {
    float: right;
    display: block;
    background-color: #C0C0C0;
    font-size: smaller;
    }


    span.floatingBottom {
    float: right;
    display: block;
    background-color: #C0C0C0;
    font-size: smaller;
    }
