
    body { margin-left: 5%; margin-right: 5%; background:#fff; text-align:justify; }
    p { text-indent: 3em; margin-top: 0.5em; margin-bottom: .2em; }
    div { margin-top: 0.2em; margin-bottom: 0.2em; }
    .titlePage    {background-color: #DDE; color: #000; padding: 1em; margin-left: 10%; margin-right: 10%; font-family: sans-serif; font-size: 95%; border: 1px dotted black;}
    .note    {background-color: #DDE; color: #000; padding: .5em; margin-left: 10%; margin-right: 10%; font-family: sans-serif; font-size: 95%;}
    .verybig       { font-size: 3em; }
    .italic       { font-style: italic; }
    .verse       { margin-left: 10%; }
    .border       { display:block; padding: 2em; border: 1px dotted black; margin: 2em;} 
    .verseHeader      { display:block; margin-left: 20px; font-variant: small-caps; margin-bottom: .25em; margin-top: .4em;}
    .stage      { display:inline; margin-left: 20px; font-style: italic; font-size: 0.8em;}
    .partHeader   { display:block; font-size: 1.5em; text-align: center; margin-bottom: 1em; margin-top: 2em;}
    .chapterHeader   { display:block; font-size: 1.1em; text-align: center; margin-bottom: 1em; margin-top: 1.5em;}
    .sp   { display:block; text-align: left; margin-left: 20px; margin-bottom: 1em;}
    .ab   { display:block; text-align: left; margin-left: -20px;}
    .red   {color: red; font-size: 1.1em;}
    
    span.floating {
    float: right;
    display: block;
    background-color: #C0C0C0;
    font-size: smaller;
    }


    span.floatingBottom {
    float: right;
    display: block;
    background-color: #C0C0C0;
    font-size: smaller;
    }
